<% layout('layout') -%>



<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron" id="navbar-gap">
  <div class="container">
    <h1> Shop Smart, Save Big!</h1>
    <p>Starting point to create something more unique</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Signup &raquo;</a></p>
  </div>
</div>
